img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
}

.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}

.photo {
    position: relative;
}

.awaiting-fade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffffc2;
    display: flex;
    justify-content: center;
    align-items: center;
}